@import "~bootstrap/scss/bootstrap";

#footer {
    .btn-group {
        flex-wrap: wrap;
        label {
            margin: 0 20px;
            padding: 10px 15px;
            border-radius: 15px;
            border: 3px solid black;
            font-weight: bolder; 
            
        }
        }
       
    }


    .duration {
        color: rgb(102, 56, 56);
        background-color: orange;
    }

    .besttime { 
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-weight: 700;
    }

    .timer {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-weight: 1000;
        font-size: 48px;
    }

