#footer {
    .btn-group {
        flex-wrap: wrap;
        label {
            margin: 0 20px;
            padding: 10px 15px;
            border-radius: 15px;
            border: 2px solid black; 
        }
        }
       
    }
